<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="native-delete-sms-plugin"
        version="1.0.0">

  <name>Cordova plugin delete sms</name>
  <description>Cordova plugin for delete sms on Android native Sms Database</description>
  <keywords> Cordova, plugin, Sms, Database,Android</keywords>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/deleteSms.js" target="js/deleteSms.js"/>

  <js-module src="www/deleteSms.js" name="delete">
    <clobbers target="deleteSms" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="deleteSms">
        <param name="android-package" value="com.example.plugin.DeleteSms"/>
      </feature>
    </config-file>

    <source-file src="src/android/DeleteSms.java" target-dir="src/com/example/plugin/"/>
  </platform>

</plugin>
